file://{{ .chezmoi.homeDir }}/strata strata
file://{{ .chezmoi.homeDir }}/strata/30-39_media 30-39_media
file://{{ .chezmoi.homeDir }}/strata/30-39_media/31_text 31_text
file://{{ .chezmoi.homeDir }}/strata/30-39_media/32_audio 32_audio
file://{{ .chezmoi.homeDir }}/strata/30-39_media/33_images 33_images
file://{{ .chezmoi.homeDir }}/strata/30-39_media/34_video 34_video
file://{{ .chezmoi.homeDir }}/strata/10-19_system/16_inbox 16_inbox
